<!-- base.html -->

<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Your App Name</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'js/script.js' %}" defer></script>
  </head>
  <body>
    <!-- Add your navigation bar or other common elements here -->

    <!--messages-->

    <div class="messages-container">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <!-- <img
        class="message-icon"
        src="{% static 'icons/sign.svg' %}"
        alt="error"
      />
      <div class="message">
        <h3 class="message-title title">Error</h3>
        <p class="message-paragraph">Something went wrong!</p>
      </div>
      <span class="message-close error">x</span> -->
    </div>
    <!--end messages-->

    {% block content %}
    <!-- Content goes here -->
    {% endblock %}
  </body>
</html>
